<html><head><title>Resultados</title>
<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet'type='text/css'><style type="text/css">
body{background-color:#C45008;font-family: 'Piedar', cursive;}
#borde{background-color:#C45008;height: 5px;}
table{font-family: 'Piedar', cursive;padding: 10px;}</style></head><body>
<form action="/form1" method="post">
<div id="borde" ALIGN=rigth></div><table ALIGN=center>
<tr><td ALIGN=rigth><font color=#FDFFFF><h1>pop</h1> <input type="submit" value="Twitter"></td><td></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: Local Blue Sheeps</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "むすんで"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://localbluesheeps.bandcamp.com/album/-" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: Patrick Edène</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "Ethiquement vôtre"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://patrickedene.bandcamp.com/album/ethiquement-v-tre" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: Nine O&#39;Nine</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "Back to Basics"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://withoutmyhatrecords.bandcamp.com/album/back-to-basics" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: Limw Woojin</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "She Doesn&#39;t Know"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://limwoojin.bandcamp.com/track/she-doesnt-know" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: MarieGarg</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "Die Hälfte Von Nix"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://mariegarg.bandcamp.com/album/die-h-lfte-von-nix" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: iii</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "Random"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://citizogic.bandcamp.com/album/random" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: iii</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "Random"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://iiivibes.bandcamp.com/album/random" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: Trick</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "Who You?"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://wearetrick.bandcamp.com/track/who-you" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Grupo: DELVINO</td></tr>
<tr bgcolor=#FFFFFF ><td ALIGN=rigth width="800" height="30">Album: "e.p 2013"</td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Gratuito o pago </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="30">Url:"http://delvinopunk.bandcamp.com/album/e-p-2013" </td></tr>
<tr bgcolor=#FFFFFF><td ALIGN=rigth width="800" height="10"></td></tr>
<tr><td ALIGN=rigth width="800" height="20"></td></tr>
